# Frontend
node_modules/
dist/

# Variaveis de ambiente (nunca dar commit nessas)
.env
.env.local
.env.production

# Vite
*.local

# Arquivos do SO
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json

# API build artifacts
api/.gradle/
api/build/