# Auto detectar arquivos de texto e normalizar os finais de linha
* text=auto

# Forcar fim de linha tipo Unix para esses arquivos
*.java text eol=lf
*jsx text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf
*.html text eol=lf
*.gradle text eol=lf
*.kts text eol=lf
*.md text eol=lf

# Arquivos binarios
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary